%% -*- mode: erlang -*-
{{=<% %>=}}
{ name, "{{package_name}}" }.
{ service, "{{package_service_name}}" }.
{ version, "{{package_version}}" }.
{ iteration, "{{package_iteration}}" }.

{ prefix, "{{package_prefix}}" }.
{ url, "{{package_url}}"}.
{ summary, "{{package_summary}}"}.
{ description, "{{package_description}}"}.
{ vendor, "{{package_vendor}}" }.
{ license, "{{package_license}}" }.
{ maintainer, "{{{package_maintainer}}}" }.
{ overrides, "{{package_permission_overrides}}"}.
{ depends, "{{{package_depends}}}"}.
{ excludes, "{{{package_excludes}}}"}.

% these are scripts embedded in the rpm and run at different phases of rpm
% installation and upgrade
% NOTE: changing these paths are likely to horribly break things
{ pre_install, "internal/pre.sh" }.
{ post_install, "internal/post.sh" }.
{ pre_uninstall, "internal/preun.sh" }.
{ post_uninstall, "internal/postun.sh" }.
<%={{ }}=%>
